.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #FFFAC2;
  border-radius: 16px 16px 0px 0px;
  width: 80%;
  padding: 0 1.5rem 1rem 1.5rem;
  box-sizing: border-box;
  min-height: 100%;
  flex: 1;
}

.gameOver,
.gameStart{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-top: 24px;
}

.actions {
  display: flex;
  gap: 24px;
}

@media (max-width: 1024px) {
  .container {
    padding: 0 1rem 1rem 1rem;
    width: 90%;
  }

  .actions {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 .5rem .5rem .5rem;
  }
}